.barSendMessages {
    height:80vh;
}

.messagesRecus {
    margin-top:20px;
    margin-bottom:20px;
}

.messagesRecus {
    position: relative;
    margin-left: 380px;
}

.posterMovie {
    height:35%;
    width:35% ;
}

.formSend {
    position: fixed;
    bottom: 0px;
    left: 30px;
    z-index: 99;
}


.headerCard {
    display: flex;
}

#avatarBot {
    width: 60px;
    float: left;
}

.headerText {
    position: relative;
    top: 18px;
    left: 25px;
}

.headerDateHour {
    position: relative;
    top: 18px;
    left: 45px;
}